* {
  font-family: Lato;
}

a {
  text-decoration: none;
}

.Nav__link {
  color: #61080a;
  font-weight: 800;
  font-family: Lato;
}
ul,
li {
  color: #61080a;
  text-decoration: none !important;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px;
}
ul:hover,
li:hover {
  text-decoration: none !important;
}
.Home {
  text-align: center;
  color: white;
}

Button {
  background-color: #434343 !important;
  border-color: #0c111d !important;
  width: 100%;
  max-width: 330px;
  padding: 15px;
}

.home__Jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    url("https://images.unsplash.com/photo-1552053831-71594a27632d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fGRvZyUyMHNtaWxlJTIwb3duZXJ8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-position: 25% 28%;
  height: 950px;
}

.footer {
  background-color: #61080a;
  color: white;
  text-align: center;
  display: flex;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid lightgray;
}
